<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :call_letters %><br>
    <span style="color:black"><%= f.text_field :call_letters %></span>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <span style="color:black"><%= f.text_field :location %></span>
  </div>
  <div class="form-group">
    <%= f.label :id %><br>
    <span style="color:black"><%= f.text_field :id %></span>
  </div>
  <div class="actions">
    <span style="color:black"><%= f.submit %></span>
  </div>
<% end %>
