<div class="row">
<% Station.first.albums.order("created_at DESC").limit(3).each_with_index do |a, i| %>
	
		
			<div class="col-lg-4" onclick="location.href='/albums/<%=a.id%>'" style="cursor: hand;" >
			
			<% if a.image_url != nil %>
			    <img class="img-circle" src="a.image_url"  width="140" height="140">
			<% else %>
				<img class="img-circle" src="<%= image_path("rec.png") %>"  width="140" height="140">
			<% end %>
			
			    <h2><%= a.name %></h2>
			    <p>
			    <strong>BY: </strong><%= Artist.find(a.artist_id).name %><br>
			    <strong>GENRE: </strong><%= a.genre %><br>
			    <strong>LOCATION: </strong><%= a.location %><br>
			    <strong># Songs: </strong><%= a.songs.size %>

			    </p>
			</div>
		
	
<% end %>
</div>

<div class="row">
<% Station.first.albums.offset(3).order("created_at DESC").limit(3).each_with_index do |a, i| %>
<a href="/albums/<%=a.id%>">
	<div class="col-lg-4" style="background-color:light-blue">
	<% if a.image_url != nil %>
	    <img class="img-circle" src="a.image_url"  width="140" height="140">
	<% else %>
		<img class="img-circle" src="<%= image_path("rec.png") %>"  width="140" height="140">
	<% end %>
	    <h2><%= a.name %></h2>
	    <p>
	    <strong>BY: </strong><%= Artist.find(a.artist_id).name %><br>
	    <strong>GENRE: </strong><%= a.genre %><br>
	    <strong>LOCATION: </strong><%= a.location %><br>
	    <strong># Songs: </strong><%= a.songs.size %>

	    </p>
	</div>
</a>
<% end %>
</div>

<div class="row">
<% Station.first.albums.offset(6).order("created_at DESC").limit(3).each_with_index do |a, i| %>
<a href="/albums/<%=a.id%>">
	<div class="col-lg-4">
	<% if a.image_url != nil %>
	    <img class="img-circle" src="a.image_url"  width="140" height="140">
	<% else %>
		<img class="img-circle" src="<%= image_path("rec.png") %>"  width="140" height="140">
	<% end %>
	    <h2><%= a.name %></h2>
	    <p>
	    <strong>BY: </strong><%= Artist.find(a.artist_id).name %><br>
	    <strong>GENRE: </strong><%= a.genre %><br>
	    <strong>LOCATION: </strong><%= a.location %><br>
	    <strong># Songs: </strong><%= a.songs.size %>

	    </p>
	</div>
</a>
<% end %>
</div>


