<% Station.first.albums.order("created_at DESC").limit(10).each_with_index do |a, i| %>
	<tbody>
      <tr>
        <td><%= i+1 %></td>
        <td><%= a.name %></td>
        <td><%= Artist.find(a.artist_id).name %></td>
        <td><%= a.genre %></td>
        <td><%= a.released %></td>
      </tr>
    </tbody>
<% end %>