
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Main Station Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <%= render partial: 'navbar' %>

<div class="col-sm-12">



   <div class="tabs">
    <ul class="tab-links" id = "please_center_s">
        <li class="active"><a href="#tab1">Recently Added Albums</a></li>

        <li><a href="#tab2">Covers</a></li>
        <li><a href="#tab3">Hottest Tracks</a></li>
        <li><a href="#tab4">Our DJs</a></li>
        <li><a href="#tab5">About Us</a></li>
        <% if current_user.site_admin %>
          <li><a href="#tab6">Administrative</a></li>
        <% end%>

    </ul>
 
    <div class="tab-content">
      <div id="tab1" class="tab active">
        <div class="col-lg-12">
      
      
          <%# render partial:'recent_albums' %>
      </div>
      
      </div>
 
      <div id="tab2" class="tab">
      <div  id="please_center_s">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.lukephysioc.com/wp-content/uploads/2010/12/kaliya-anihilator-album-art.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 id="please_center_s">Heading</h2>
            <p id="please_center_s">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="http://www.wmeentertainment.com/gnarls_barkley/imgs/album-art.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 id="please_center_s">Heading</h2>
            <p id="please_center_s">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="http://th06.deviantart.net/fs71/PRE/i/2013/361/7/5/lights_album_art_by_bonvallet-d6ylvvi.png" alt="Generic placeholder image" width="140" height="140">
            <h2 id="please_center_s">Heading</h2>
            <p id="please_center_s">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            
          </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
      </div>
        
      <div id="tab3" class="tab">
      <div id="make_small_recent">
        <table class="table table-striped">
         <thead>
            <tr>                
              <th>Song</th>
              <th>Album</th>
              <th>Artist</th>
            </tr>
          </thead>
            <%= render partial:'hottest_tracks' %>
        </table>
        </div>
      </div>

      <div id="tab4" class="tab">
        <div class="col-sm-4" id="please_center" "make_small_bio">
          <ul class="list-group">
            <%= render partial:'dj_list' %>
          </ul>
        </div><!-- /.col-sm-4 -->        
      </div>

      <div id="tab5" class="tab">
        <div class="well" id="make_small_bio">
          <%= Station.first.bio %>
        </div>
      </div>

      <div id="tab6" class="tab">
      <div id="please_center_s">
        <a href="./stations.csv"><button type="button" class="btn btn-primary">Get Report</button></a>
        <a href="stations/<%=Station.find(1).id%>/edit"><button type="button" class="btn btn-primary">Edit Station</button></a>
      </div>
      </div>

    </div>
    </div>
    </div>
    </div>          
    </div>
    </div>

  </body>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
