<p id="notice"><%= notice %></p>

<p>
  <strong>Call letters:</strong>
  <%= @station.call_letters %>
</p>

<p>
  <strong>Location:</strong>
  <%= @station.location %>
</p>

<p>
  <strong>Station:</strong>
  <%= @station.station_id %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
