<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<body>
  <div class="container">
  <div class="row">
    <div class="col-md-2">User ID</div>
    <div class="col-md-2">First Name</div>
    <div class="col-md-2">Last Name</div>
    <div class="col-md-2">DJ Alias</div>
    <div class="col-md-2">Station</div>
    <div class="col-md-2">Admin</div>
  </div>
  </div>
</body>



<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>First name </th>
      <th>Last name </th>
      <th>Dj alias </th>
      <th>Station </th>
      <th>Admin </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.u_id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.dj_alias %></td>
        <td><%= user.station %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
