<div class="col-sm-12">
  <div class="tabs">
    <ul class="tab-links" id="please_center">
      <li class="active">
        <a href="#tab1">Recent Albums</a>
      </li>
      <li>
        <a href="#tab2">Hottest Tracks</a>
      </li>
      <li>
        <a href="#tab4">My Playlists</a>
      </li>
      <li>
        <a href="#tab5">My Info</a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab active" id="tab1">
        <div id="a_display">
          <%= render :partial => 'stations/recent_albums' %>
        </div>
      </div>

      <div class="tab" id="tab2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Song</th>
              <th>Album</th>
              <th>Artist</th>
            </tr>
          </thead>
          <%= render :partial => 'stations/hottest_tracks' %>
        </table>
      </div>
      <div class="tab" id="tab4">
        <div style="margin:20px 350px 1px 300px">
          <ul class="list-group">
            <%= render partial:'playlist_list' %>
          </ul>
        </div>
      </div>
      <div class="tab" id="tab5">
        <div id="ubio">
         <strong> Name </strong><br>
         <%=current_user.first_name %> <%=current_user.last_name %><br>
         
         <strong>Email </strong><br>
         <%=current_user.email %><br><br>
         
         <strong>About Me </strong><br>
         <%=current_user.bio%>
       </div>
     </div>
   </div>
 </div>