<div class="col-sm-12">
  <div class="tabs">
    <ul class="tab-links" id="please_center">
      <li class="active">
        <a href="#tab1">Reviews</a>
      </li>
      <li>
        <a href="#tab2">Hottest Tracks</a>
      </li>
      <li>
        <a href="#tab4">My Playlists</a>
      </li>
      <li>
        <a href="#tab5">My Info</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab active" id="tab1">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Playlist</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
          <%# render partial:'recent_albums' %>
        </table>
      </div>
      <div class="tab" id="tab2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Song</th>
              <th>Album</th>
              <th>Artist</th>
            </tr>
          </thead>
          <%= render :partial => 'stations/hottest_tracks' %>
        </table>
      </div>
      <div class="tab" id="tab4">
        <ul class="list-group">
          <%= render partial:'playlist_list' %>
        </ul>
      </div>
      <div class="tab" id="tab5">
        Name: <%=current_user.first_name %>
        <%=current_user.last_name %><br>
        <a href="mailto:<%=current_user.email %>">Email: <%=current_user.email %></a>
      </div>
    </div>
  </div>
</div>