<div class="col-sm-12">
  <div class="tabs">
    <ul class="tab-links" id="please_center">
      <li class="active"><a href="#tab1">Reviews</a></li>
      <li><a href="#tab2">Hottest Tracks</a></li>
      <li><a href="#tab4">Playlists</a></li>
      <li><a href="#tab5">DJ Info</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab1" class="tab active">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Album</th>
              <th>Text</th>
            </tr>
          </thead>
          <%= render partial:'review_list_show' %>
        </table>
      </div>
      <div id="tab2" "make_small_recent" class="tab">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Song</th>
              <th>Album</th>
              <th>Artist</th>
            </tr>
          </thead>
          <%= render :partial => 'stations/hottest_tracks' %>
        </table>
      </div>
      <div id="tab4" "make_small_recent" class="tab">
        <div style="margin:20px 350px 1px 300px">
          <ul class="list-group">
            <%= render partial:'playlist_list_other' %>
          </ul>
        </div>
      </div>
      <div id="tab5" class="tab">
        <div id="ubio">
          <strong> Name </strong><br>
          <%=@user.first_name %> <%=@user.last_name %><br>

          <strong>Email </strong><br> <p id="dj_link" style="font-size:1em"><a href="mailto:<%=current_user.email %>"><%=@user.email %></a></p><br><br>

          <strong>About Me </strong><br>
          <%=@user.bio%>
        </div>
      </div>
    </div>
  </div>
</div>