<p id="notice"><%= notice %></p>

<p>
  <strong>U:</strong>
  <%= @user.u_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Dj alias:</strong>
  <%= @user.dj_alias %>
</p>

<p>
  <strong>Station:</strong>
  <%= @user.station %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
