<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </div>

  <div class="image-container">
      <% if @album.image_url != nil %>
        <img src="<%=@album.image_url_large%>"  width="300" height="300">
      <%else%>
        <img src="http://cliparts.co/cliparts/kcK/n5L/kcKn5LqAi.png"  width="300" height="300">
      <%end%>
    </div>

  <p>Name: <%= @album.name %></p>
  <p>Artist: <%= @album.artist.name %></p>

  <div class="form-group">
    <%= f.label :location %><br>
    <span style="color:black"><%= f.text_field :location %></span>
  </div>

  <div class="form-group">
    <%= f.label :genre %><br>
    <span style="color:black"><%= f.text_field :genre %></span>
  </div>

  <div class="form-group">
    <%= f.label :released %><br>
    <span style="color:black"><%= f.date_select(:released, include_blank: true) %></span>
  </div>

  <div class="form-group">
    <%= f.label :image_url %><br>
    <span style="color:black"><%= f.text_field :image_url %></span>
  </div>
  
  <div class="actions">
    <span style="color:black"><%= f.submit %></span>
  </div>
<% end %>
