<div class="content-container">
<h1>Reviews for <%=@album.name%></h1>
<table class='table table-striped'>
<% @reviews.each do |review| %>
  <tr>
    <td><%= review.created_at %></td>
    <td><%= review.user.dj_alias %></td>
    <td><%= review.text %></td>
    <td><%= link_to 'More info', review %></td>
  </tr>
<% end %>
</table>
