<div class="col-sm-5">
  <% if @album.image_url != nil %>
    <img src="<%=@album.image_url%>"  width="400" height="400">
  <%else%>
    <img src="http://cliparts.co/cliparts/kcK/n5L/kcKn5LqAi.png"  width="450" height="400">
  <%end%>
</div>

<p>
  <strong>Album:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= Artist.find(@album.artist_id).name %>
</p>

<p>
  <strong>Released:</strong>
  <%= @album.released %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @album.genre %>
</p>

<p>
  <strong>Location:</strong>
  <%= @album.location %>
</p>
<p>fj<%=@album.image_url%></p>

<a href="<%=@album.id%>/edit"><button type="button" class="btn btn-primary">Edit Album Info</button></a>



<table class="table table-striped" id="make_small_recent">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Duration</th>
    </tr>
  </thead>
  <%= render partial:'al_songs' %>
</table>



