<div class='content-container'>
  <div class="top-info">
    <div class="image-container">
      <% if @album.image_url != nil %>
        <img src="<%=@album.image_url_large%>"  width="300" height="300">
      <%else%>
        <img src="http://cliparts.co/cliparts/kcK/n5L/kcKn5LqAi.png"  width="450" height="400">
      <%end%>
    </div>
    <div id='albumInfo'>
      <p>
        <strong>Album:</strong>
        <%= @album.name %>
      </p>
      
      <p>
        <strong>Artist:</strong>
        <%= Artist.find(@album.artist_id).name %>
      </p>
      
      <% if  !@album.released.nil? %>
      <p>
        <strong>Released:</strong>
        <%= @album.released %>
      </p>
      <% end %>
      
      <% if  !@album.genre.nil? and !@album.genre.empty? %>
      <p>
          <strong>Genre:</strong>
          <%= @album.genre %>
      </p>
      <% end %>
      
      <p>
        <strong>Location:</strong>
        <%= @album.location %>
      </p>
      <div>
      <span>
      <a href="<%=@album.id%>/edit"><button type="button" class="btn btn-primary">Edit Album Info  </button></a>
      <a href="<%=new_review_path(review_album_id: @album.id)%>"><button type="button" class="btn btn-primary">Write Review</button></a></span>
      <a href="#reviewContainer"><button type="button" class="btn btn-primary">See Reviews</button></a>
  </div>
  </div>
    
  <table class="table table-striped" id="song_table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Duration</th>
      </tr>
    </thead>
    <%= render partial:'al_songs' %>
  </table>
  <%= render partial: 'review_snippet', locals: {album_id: @album.id} %>
</div>

