<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @station_album.station_id %>
</p>

<p>
  <strong>Album:</strong>
  <%= @station_album.album_id %>
</p>

<%= link_to 'Edit', edit_station_album_path(@station_album) %> |
<%= link_to 'Back', station_albums_path %>
