<td>
  <div class='view'>{{time_played}}</div>
  <input class="edit" type="text" value="{{time_played}}">
</td>
<td>
  <div class='view'>{{title}}</div>
  <input class="edit" type="text" value="{{title}}">
</td>
<td>
  <div class='view'>{{artist}}</div>
  <input class="edit" type="text" value="{{artist}}">
</td>
<td>
  <div class='view'>{{album}}</div>
  <input class="edit" type="text" value="{{album}}">
</td>
<td>
  <div class='view'>{{duration}}</div>
  <input class="edit" type="text" value="{{duration}}">
</td>
<td>
  <div class='view'>{{location}}</div>
  <input class="edit" type="text" value="{{location}}">
</td>
