<td class='edit'>{{time_played}}</td>
<td class='edit'>{{title}}</td>
<td class='edit'>{{artist}}</td>
<td class='edit'>{{album}}</td>
<td class='edit'>{{duration}}</td>
<td class='edit'>{{location}}</td>
