<p id="notice"><%= notice %></p>

<h1>Listing Playlists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Show Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.title %></td>
        <td><%= playlist.show_name %></td>
        <td><%= link_to 'View', playlist %></td>
        <td><%= link_to 'Delete', playlist, method: :delete, data: { confirm: 'Are you sure you want to delete this playlist?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
