<%= javascript_tag do %>
  window.playlistId = '<%= @playlist.id %>';
<% end %>
<p id="notice"><%= notice %></p>

<div class="text-center">
<h1><%= @playlist.title %></h1>

<%= render 'search' %>
<%= render 'song_table' %>
  
</div>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
