<p id="notice"><%= notice %></p>

<p>
  <strong>U:</strong>
  <%= @playlist.user_id %>
</p>

<p>
  <strong>Songs:</strong>
  <%= @playlist.songs.each do |song|
    link_to song.name, show_song_path(song)
  end %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
