<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user.dj_alias %>
</p>

<p>
  <strong>Album:</strong>
  <%= @review.album.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %>
<%= link_to 'Back', :back %>
