<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Simple Display</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <%= render :partial => 'stations/navbar' %>

<body style="text-align:center">

<h2>Search results for "<%= @query %>":</h2>

<% if @albums %>

<!--<h3>Albums:</h3>//-->


<div class="col-md-12" id="custom_display">           
  <table class="table">
    <thead>

    	<tr>
    		<td><h1>Cover</h1></td>
    		<td><h1>Name</h1></td>
    		<td><h1>Artist</h1></td>
    		<td><h1>Add to Library</h1></td>
    	</tr>

    </thead>
   <% @albums.each do |album|%>
   <tbody>
     <tr>
      <td><img src="<%= album["image"][2]["#text"] %>"></td>
      <td><%= album["name"] %></td>
      <td><%= album["artist"] %></td>
      <td id="mybutton">
        <%= form_tag(:action => "add_album") do %>
        <%= hidden_field_tag 'album_name', album["name"] %>
        <%= hidden_field_tag 'album_artist', album["artist"] %>
        <%= hidden_field_tag 'album_id', album["id"] %>
        <%= submit_tag("Add") %>
        <% end %>
      </td>
     </tr>
    </tbody>
  <% end %>

</table>
</div>
<% end %>


<!--<% if @artists %>
<h3>Artists:</h3>
<table border = "1">
  <tr>
    <td>Name</td>
    <td>Art</td>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td><%= artist["name"] %></td>
    <td><img src="<%= artist["image"][1]["#text"] %>"></td>
  </tr>
  <% end %>
</table>
<% end %>


<% if @tracks %>
<h3>Tracks:</h3>
<table border = "1">
  <tr>
    <td>Name</td>
    <td>Artist</td>
  </tr>
  <% @tracks.each do |track|%>
  <tr>
    <td><%= track["name"] %></td>
    <td><%= track["artist"] %></td>
  </tr>
  <% end %>
</table>





<% end %>
</body>
=======
<% end %>//-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>

