
<h2>Search results for "<%= @query %>":</h2>

<% if @albums %>

<!--<h3>Albums:</h3>//-->


<div class="col-md-12" id="custom_display">
  <table class="table">
    <thead>

    	<tr>
    		<td><h1>Cover</h1></td>
    		<td><h1>Name</h1></td>
    		<td><h1>Artist</h1></td>
    		<td><h1>Add to Library</h1></td>
    	</tr>

    </thead>
   <% @albums.each do |album|%>
   <tbody>
     <tr>
      <td><img src="<%= album["image"][2]["#text"] %>"></td>
      <td><%= album["name"] %></td>
      <td><%= album["artist"] %></td>
      <td id="mybutton">
        <%= form_tag(:action => "add_album") do %>
        <%= hidden_field_tag 'album_name', album["name"] %>
        <%= hidden_field_tag 'album_artist', album["artist"] %>
        <%= hidden_field_tag 'album_id', album["id"] %>
        <%= submit_tag("Add") %>
        <% end %>
      </td>
     </tr>
    </tbody>
  <% end %>

</table>
</div>
<% end %>


<!--<% if @artists %>
<h3>Artists:</h3>
<table border = "1">
  <tr>
    <td>Name</td>
    <td>Art</td>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td><%= artist["name"] %></td>
    <td><img src="<%= artist["image"][1]["#text"] %>"></td>
  </tr>
  <% end %>
</table>
<% end %>


<% if @tracks %>
<h3>Tracks:</h3>
<table border = "1">
  <tr>
    <td>Name</td>
    <td>Artist</td>
  </tr>
  <% @tracks.each do |track|%>
  <tr>
    <td><%= track["name"] %></td>
    <td><%= track["artist"] %></td>
  </tr>
  <% end %>
</table>





<% end %>


